body{
font-family:serif;
color:hotpink;
background-color:black;

}


.asdf{


  colo:white;
  font-family:fantasy;
  font-size:20
}

.lala{
border-style:outset;




}

.bbb{
font-family:cursive;
color:blue;
font-size:30;
}
